*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
}



.grandparent{
    height: 90vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.342) ), url(https://static.wixstatic.com/media/d3fada_ce4bbb92f2be49b8a0ba8d0d16a13b1e~mv2.jpg/v1/fill/w_980,h_467,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d3fada_ce4bbb92f2be49b8a0ba8d0d16a13b1e~mv2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
}


.col{
    padding: 0 !important;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.lolamo{
    height: 539px;
}

.omomi h3{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    -webkit-background-clip:text;
    line-height: 170px;
    margin-left: 10px;
   line-height: 5px;
   font-size: 50px;
}
.omo span{
    color: greenyellow !important ;
}
.omo a{
    color:  whitesmoke !important;
    line-height: 15px ;
    letter-spacing: 2px;
    font-style: oblique;
}
.ademi{
    background-color: transparent !important;
}

.omo{
    color:greenyellow !important;
}

.omo button{
    color: whitesmoke !important;
}
   


.icon i{
    color: greenyellow;
}



/* nav end */






.words p{
    padding-top: 50px;
   color:white;
   font-size: 70px;
   font-weight: bolder;
   font-style: oblique;
   text-align: center;

}

.words span{
    color: white;
    text-align: center;
    font-style: oblique;
    padding-left:350px;
    font-size: 25px;
    font-weight: bold;

}


.bon{
    display: grid;
    place-items: center;
    padding: 50px;
}

.bon button{
    padding: 10px 150px;
    background-color: greenyellow;
    color: #fff;
    border: 1px solid greenyellow;
    border-radius: 30px;
    font-weight: bold;
    z-index: 2;
}

/* granny  */

.granny{
    background-color: black;
    height: 100%;
}
.head{
    display: flex;
    justify-content: center;
    gap: 80px;
    color: #fff;
    font-style: oblique;
    padding-top: 50px;
    
}
.head1{
    display: flex;
    justify-content: center;
    gap: 150px;
    color: #fff;
    font-style: oblique;
    padding-top: 50px;
    
}
.head11{
    display: flex;
    justify-content: center;
    gap: 150px;
    color: #fff;
    font-style: oblique;
    padding-top: 50px;
    padding-bottom: 30px;
    
}

.moet2 img{
    width: 450px;
    height: 400px;
}

.mett{
    padding-top: 50px;
    font-style: oblique;
    font-weight: bold;
}

.mett h4{
    padding-bottom: 15px;
    font-size: 30px;
}

.mett span{
    font-size: 60px;
    color: greenyellow;
}

.footer{
    background-color: black;
    background-position: center;
    height: 40vh;
    border-top: 1px solid grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #fff;
    padding: 0px 50px;
    align-items: center;
    border-bottom: 1px solid grey;
}

.cc header{
    font-size: 20px;
    font-style: oblique;
    font-weight: 800;
    color: grey;
}
.cc p{
    font-size: 15px;
    font-style: oblique;
    font-weight: 600;
    margin-top: 15px;
    color: grey;
}

.foot1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.co form input{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 60px;
    padding-left: 15px;
}

.icn{
    width: 70px;
    height:42px;
    color: white;
    background-color: #adff2f;
    border: 1px solid greenyellow;
    font-size: 30px;
    display: grid;
    place-items: center;
}



.foot2{
    color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
}


.h5{
    padding-bottom: 12px;
}

.foot3{
    color: grey;
    padding-left: 100px;
}

.contact{
    padding-bottom: 5px;
}

.mike{
    background-color: black;
    height: 8vh;
    text-align: center;
    padding-top: 15px;
}

@media (max-width:767px){
    .grandparent{
        height: 70vh;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.342),rgba(0, 0, 0, 0.342) ), url(https://static.wixstatic.com/media/d3fada_ce4bbb92f2be49b8a0ba8d0d16a13b1e~mv2.jpg/v1/fill/w_980,h_467,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d3fada_ce4bbb92f2be49b8a0ba8d0d16a13b1e~mv2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        background-attachment: fixed;
        position: relative;
    }
    
    
    .col{
        padding: 0 !important;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    
    .lolamo{
        height: 539px;
    }
    
    .omomi h3{
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        -webkit-background-clip:text;
        line-height: 100px;
        margin-left: 10px;
       line-height: 5px;
       font-size: 30px;
    }
    .omo span{
        color: greenyellow !important ;
    }
    .omo a{
        color:  whitesmoke !important;
        line-height: 15px ;
        letter-spacing: 2px;
        font-style: oblique;
    }
    .ademi{
        background-color: transparent !important;
    }
    
    .omo{
        color:greenyellow !important;
    }
    
    .omo button{
        color: whitesmoke !important;
    }
       
    
    
    .icon i{
        color: greenyellow;
    }
    
    
    
    /* nav end */
    
    
    
    
    
    
    .words p{
        padding-top: 60px;
       color:white;
       font-size: 30px;
       font-weight: bolder;
       font-style: oblique;
       text-align: center;
    
    }
    
    .words span{
        color: white;
        text-align: center;
        font-style: oblique;
        padding-left:10px;
        font-size: 15px;
        font-weight: bold;
    
    }
    
    
    .bon{
        display: grid;
        place-items: center;
        padding: 50px;
    }
    
    .bon button{
        padding: 10px 50px;
        background-color: greenyellow;
        color: #fff;
        border: 1px solid greenyellow;
        border-radius: 30px;
        font-weight: bold;
        z-index: 2;
    }
    
    /* granny  */
    
    .granny{
        background-color: black;
        height: 100%;
    }
    .head{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        color: #fff;
        font-style: oblique;
        padding-top: 0px;
        
    }
    .head1{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 10px;
        color: #fff;
        font-style: oblique;
        padding-top: 0px;
        
    }
    .head11{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 10px;
        color: #fff;
        font-style: oblique;
        padding-top: 0px;
        padding-bottom: 50px;
        
    }
    
    .moet2 img{
        width: 450px;
        height: 400px;
    }
    
    .mett{
        padding-top: 0px;
        font-style: oblique;
        font-weight: bold;
        text-align: center;
    }
    
    .mett h4{
        padding-bottom: 15px;
        font-size: 30px;
    }
    
    .mett span{
        font-size: 60px;
        color: greenyellow;
    }
    
    .footer{
        background-color: black;
        background-position: center;
        height: 40vh;
        border-top: 1px solid grey;
        display: grid;
        grid-template-columns: 1fr;
        color: #fff;
        padding: 0px 50px;
        align-items: center;
        border-bottom: 1px solid grey;
    }
    
    .cc header{
        font-size: 20px;
        font-style: oblique;
        font-weight: 800;
        color: grey;
    }
    .cc p{
        font-size: 15px;
        font-style: oblique;
        font-weight: 600;
        margin-top: 15px;
        color: grey;
    }
    
    .foot1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }
    
    .co form input{
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 50px;
        padding-left: 15px;
    }
    
    .icn{
        width: 70px;
        height:42px;
        color: white;
        background-color: #adff2f;
        border: 1px solid greenyellow;
        font-size: 30px;
        display: none;
        place-items: center;
        /* margin-left: 50px;
        margin-top: 20px; */
    }
    
    
    
    .foot2{
        color: grey;
        display: none;
        grid-template-columns: 1fr 1fr;
        padding-left: 30px;
    }
    
    
    .h5{
        padding-bottom: 12px;
    }
    
    .foot3{
        color: grey;
        display: none;
        padding-left: 60px;
    }
    
    .contact{
        padding-bottom: 5px;
    }
    
    .mike{
        background-color: black;
        height: 8vh;
        text-align: center;
        padding-top: 15px;
    } 
}