*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,html{
    overflow-x: hidden;
}

img{
    width: 100%;
    height: 100%;
}

.grandparent{
    height: 100vh;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.327),rgba(245, 245, 245, 0.327)), url(images/muscular-sportsman-building-biceps-with-dumbbell.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
}

.greatparent{
    display: flex;
}

.parent1{
    width: 40%;
    background-color: black;
    height: 100vh;
    
}
.subp{
    padding: 15px 30px;
}

.form form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.form form input{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    background-color: transparent;
    /* border: 1px greenyellow; */
    box-shadow: 5px 5px greenyellow;
    /* color: white; */
}

.but{
    padding-top: 25px;
    display:grid ;
    place-items: center;
}
.but button{
    padding: 8px 150px;
    background-color: greenyellow;
    border: 1px solid greenyellow;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.or{
    text-align: center;
    padding-top: 10px;
}

.or a{
    color: grey;
    text-decoration: none;
}

.reg h5{
    text-align: center;
    color: greenyellow;
    font-size: 30px;
    padding-bottom: 15px;
    font-weight: bold;
    font-style: oblique;
}

.parent2{
    display: grid;
    place-items: center;
    width: 60%;
    
}

.my h1{
    font-size: 100px;
    font-weight: bold;
    font-style: oblique;
    color:greenyellow;
}
.reg p{
    display: none;
}

.my small{
    padding: 0 !important;
    margin: 0 !important;
    color: white;
    font-weight: bold;
    padding-left:100px !important;
    line-break: 20px !important;
    font-style: oblique;
}

@media (max-width:767px){

    .greatparent{
        display: flex;
    }
    
    .parent1{
        width: 100%;
        background-color: black;
        height: 100vh;
        
    }

    .reg p{
        display: block;
        color: white;
        text-align: center;
        font-size: 27px;
        font-weight: bold;
        padding-top: 20px;
        font-style: oblique;
    }


    .subp{
        padding: 15px 30px;
    }
    
    .form form{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .form form input{
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 80px;
        background-color: transparent;
        /* border: 1px greenyellow; */
        box-shadow: 5px 5px greenyellow;
        /* color: white; */
    }
    
    .but{
        padding-top: 25px;
        display:grid ;
        place-items: center;
    }
    .but button{
        padding: 8px 150px;
        background-color: greenyellow;
        border: 1px solid greenyellow;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    
    .or{
        text-align: center;
        padding-top: 10px;
    }
    
    .or a{
        color: grey;
        text-decoration: none;
    }
    
    .reg h5{
        text-align: center;
        color: greenyellow;
        font-size: 30px;
        padding-bottom: 15px;
        font-weight: bold;
        font-style: oblique;
    }
    
    .parent2{
        display: none;
        place-items: center;
        width: 60%;
        
    }
    
    .my h1{
        font-size: 100px;
        font-weight: bold;
        font-style: oblique;
        color:greenyellow;
    }
    
    .my small{
        padding: 0 !important;
        margin: 0 !important;
        color: white;
        font-weight: bold;
        padding-left:100px !important;
        line-break: 20px !important;
        font-style: oblique;
    }

}